ion-toolbar img{
    width: 35%;
    margin-top: 5%;
    margin-bottom:5%;
  };
  form.center{
    
    width: 80%;
    height: 10%;
    margin: 10px;
    margin-left: 10%;
    margin-right: 10%;
    
  }
  ion-card{
    margin-top: 30%;
  }
  
  img{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }
  
  ion-botton{
    margin-right: 45%;
  }
  