<ion-header  [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <button class="button top">
    Entrar
  </button>
    
    <button class="button" routerLink="/registro">
     Registrar
    </button>
  
   
  <button class="button border-bottom" routerLink="/registroempresa">
    Registrar Empresa
  </button>

</ion-content>
