<ion-header  [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      <img src="../../assets/img/logo/tank.png"/>
    </ion-title>

  </ion-toolbar>
 
</ion-header>

 
<ion-content>  
  <ion-card>
    <img src="../../assets/img/login/1123.png"/>
    <ion-item>
     <ion-label floating>
      <ion-icon name="person"></ion-icon>
       Correo/usuario
      </ion-label>
      <ion-input type="email" name="email" clearInput="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>
        <ion-icon ios="ios-lock" md="md-lock"></ion-icon>
        Contraseña</ion-label>
      <ion-input type="password" name="password" clearInput="true"></ion-input>
    </ion-item>
  </ion-card>
  <div class="centrado">
  <ion-button shape="round">
    Entrar
  </ion-button>
    <ion-button shape="round" routerLink="/registro">
     Registrar
    </ion-button>
  <ion-button shape="round" routerLink="/registroempresa">
    Registrar Empresa
  </ion-button>
</div>
</ion-content>
