ion-toolbar img{
    width: 35%;
    margin-top: 5%;
    margin-bottom:5%;
  };
button{
    width: 40%;
    height: 5%;
    background: rgb(78, 127, 218);
    margin-bottom:10px;
    border-radius: 20px 20px 20px 20px ;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 12px;
    
    color:white;
}

ion-card{
    margin-top: 30%;
}

