<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary"></ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>

        <ion-item routerLink="['/listaempresa', 'data']">
          <ion-icon slot="start" name="home"></ion-icon>
          Home</ion-item>

        <ion-item [routerLink]="['/listempresa', 'data']">
          <ion-icon slot="start" name="clipboard"></ion-icon>
          Oportunidades para invertir</ion-item>

        <ion-item routerLink="/login">
          <ion-icon slot="start" name="person" ></ion-icon>
          Registrarse</ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
