<ion-app>

  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary"></ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>

        <ion-item routerLink="/home">
          <ion-icon slot="start" name="home"></ion-icon>
          Home</ion-item>

        <ion-item>
          <ion-icon slot="start" name="search"></ion-icon>Categoria</ion-item>

        <ion-item routerLink="/listempresa">
          <ion-icon slot="start" name="clipboard"></ion-icon>
          lista Empresa</ion-item>

        <ion-item routerLink="/login">
          <ion-icon slot="start" name="person" ></ion-icon>
          Login</ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
