.list h1{
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: left;
  font-weight: bold;

  padding-left: 2%;
  padding-right: 2%;
} 
ion-toolbar img{
  width: 35%;
  margin-top: 5%;
  margin-bottom:5%;
};
