<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      <img src="../../assets/img/tank.png"/>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="img">
    <img src={{companys.img}} />
  </div>
  
  <div class="title">
    <h1>{{companys.name}}</h1>
    <p class="text">{{companys.text}}</p>
  </div>
 
     
</ion-content>
  