ion-slide{
  display: block;
}

.slide-img-padding{
  padding: 40px;
}

h3{
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 60px;
}

ion-slides {
  --bullet-background: #2CAFC4;
  --bullet-background-active: #B3BEC0;
}
