<ion-header >
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      <img src="../../assets/img/logo/tank.png"/>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  

  <ion-slides scrollbar="true" [options]="vertical" > 
    <ion-slide>
      <ion-slides class="double"  pager="true" >
        <ion-slide *ngFor="let slide of slides">
          <div style="width: 100%; height: 100%;">
            <img src={{slide.img}}/>
          </div>
        </ion-slide>
      </ion-slides>

      <ion-slides class="double" pager="true" >
        <ion-slide *ngFor="let slide of slides1">
          <ion-button expand="full" routerLink= "/registroempresa"  class="my-button" color="#397fee"> 
            Registrar
          </ion-button>        
          <div style="width: 100%; height: 100%;">
           <img src={{slide.img}}/>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-slide>
  </ion-slides>
</ion-content>
