<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">

    <ion-slide *ngFor="let slide of slides">
      <div>
        <img src={{slide.img}}/>
      </div>
      <div>
        <h3 [innerHTML]="slide.img"> </h3>
      </div> 
    </ion-slide>
  </ion-slides> 

  <ion-slides>
    <ion-slide *ngFor="let slide of slides1">
      <div>
        <img src={{slide.img}}/>
      </div>
      <div>
        <h3 [innerHTML]="slide.img"> </h3>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer no-border>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-button color= "primary"
                    expand="full"
                    shape="round">
          Me interesa
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

