<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      <img src="../../assets/img/tank.png"/>
    </ion-title>

  </ion-toolbar>
</ion-header>


  <ion-content padding>
    <form>
      <ion-card>
      <ion-list>  
        <ion-item>
          <ion-icon name="mail-outline"></ion-icon>
          <ion-label floating>  Correo:</ion-label>
          <ion-input type="email" name="email" clearInput="true"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-icon name="person-outline"></ion-icon>
          <ion-label floating>  Usuario:</ion-label>
          <ion-input type="text" name="deezerID" clearinput="true" required></ion-input>
        </ion-item>
  
        <ion-item>
          
          <ion-label floating>Contraseña:</ion-label>
          <ion-input type="password" name="password" clearInput="true"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-icon name="md-key"></ion-icon>
          <ion-label floating>Confirme Contraseña:</ion-label>
          <ion-input type="password" name="password" clearInput="true"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card>

        <ion-item>
          <ion-label floating>No soy un robot</ion-label>
          <ion-checkbox required></ion-checkbox>
       </ion-item>
      
    </form>
   
    <ion-button shape="round">Enviar</ion-button>
    
  </ion-content>
  

